<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA—Compatible" content="IE=edge">
        <meta name="viewport" content="width=device—width, initial-scale=l.0">
        <title>DOCUMENT</title>
    </head>
    <body>
        <h1>Person: <%= ID %> </h1>
        <h2>Message: <%= Message %></h2>
        <% switch (Message) {
            case "Hola": %>
              <% var result = repeat(Message, Time); %>
              <h2><%= result %></h2>
              <% break;
            case "Bienvenido": %> 
              <% var result = repeat(Message, Time); %>
              <h2><%= result %></h2>
              <% break;
            case "Adios": %>
              <% var result = repeat(Message, Time); %>
              <h2><%= result %></h2>
              <% break;
            default: %>
              <h2>Invalido</h2>
              <% break;
          } %>
          
          <% function repeat(message, times) {
            var result = '';
            for (var i = 0; i < times; i++) {
                result += message + ' ' + ID + ' ';
            }
            return result.trim();
          } %>
          
    </body>
</html>